html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

body {
    color: #606060;
}

pre {
    color: #f8f8f2;
    background-color: #272822;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

.content {
    margin-left: 2rem;
    margin-right: 2rem;
}

.lead {
    font-size: 1rem;
}

.pagination-item a {
    color: #272822;
}

.post-date {
    font-style: italic;
}

.post-title {
    font-size: 1.8rem;
}

.sidebar-about h1 {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 1rem;
}

.sidebar-sticky {
    bottom: 2rem;
}

.sidebar-social {
    margin-top: 2rem;
}

.sidebar-social a {
    text-decoration: none;
    margin-right: 15px;
}

.sidebar-social a:last-child {
    margin-right: 0;
}

.sidebar-nav li {
    margin-bottom: 0.3rem;
}


/* Media queries */
@media (min-width: 48em) {
  .content {
    margin-left: 22rem;
    max-width: 40rem;
  }
}
