<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/"><h1>{{ SITENAME }}</h1></a>
      <p class="lead">{{ BIO }}</p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li><a href="/">Home</a></li>
	      {% for page in pages %}
          <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    {% if SOCIAL %}
    <div class="sidebar-social">
      {% for parent_class, icon, link in SOCIAL %}
      <a href="{{ link }}" target="blank">
        <i class="{{ parent_class }} fa-{{ icon }}"></i>
      </a>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</aside>
